* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

body {
  font-family: "Azeret Mono", monospace;
}

.flex {
  display: flex;
}

.heading-color {
  color: rgb(13, 19, 33);
}

.text-color {
  color: rgba(13, 19, 33, 0.7);
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* Navbar */

.nav-container h1 {
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
}

.nav-container button {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  padding: 17px 24px 17px 24px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
}

.nav-container {
  margin: 38px 166px 35px 150px;
  align-items: center;
  justify-content: space-between;
}

/* Hero */

.hero-container {
  background-image: url("/images/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-item {
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 26px 221px 44px 221px;
}

.hero-item img {
  height: 240px;
  width: 240px;
  margin-bottom: 32px;
}

.hero-item h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
  margin-bottom: 24px;
}

.hero-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-bottom: 32px;
}

.hero-item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  border-radius: 8px;
  padding: 21px 24px 21px 24px;
  background: rgb(13, 19, 33);
}
